

<html>
<head>


<link rel='stylesheet' href='style.css' />
  </head>
<br/>

	<h1>Bank Marketing Leads Generator</h1>
	<style>

h1   {color: white;}
</style>
<br/>
<br/>

	<div>
	<center> <h2> Please submit your lead files here </h2> </center>


<center>
   <form action="http://127.0.0.1:5000//prediction" method="post" enctype="multipart/form-data">
    <input type="file" name="fileupload" id="fileToUpload">
    <input type="submit" name="submit" value="Prediction" >
  </form>
</center>

</div>
</body>
</html>
